*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f6f7f9;
    max-width: 100%;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: #444;    
}
/* nomore */
.nomore{
    line-height: 1.25rem;
    padding: .75rem 1rem;
    white-space: nowrap;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    border-radius: 3rem;
    background-color: rgba(0,0,0,.8);   
}
.nomore-pic{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-40%);
}

/* 标题 */
.title{
    margin: 7px 14px;
}
/* 轮播图的css */
.roll{
    margin: 7px 14px;
}
.wrap{
    width: 100%;
    height: 156.89px;
    position: relative;
}

.list{
    width: 100%;
    height: 156.89px;
    list-style: none;
    position: relative;
}
.item{
    width: 100%;
    height: 100%;
    color: white;
    font-size: 50px;
    position: absolute;
    opacity: 0;
    transition: all 0.8s;
}
.item:nth-child(1){
    background:url('https://bossaudioandcomic-1252317822.image.myqcloud.com/activity/document/61edd435e1ba15eb192f3ca07e303bd4.jpg');
    background-size: 100% 100%;
}
.item:nth-child(2){
    background:url('https://bossaudioandcomic-1252317822.image.myqcloud.com/activity/document/0767069e27cb047a648d62e34173077f.jpg');
    background-size: 100% 100%;
}
.item:nth-child(3){
    background:url('https://bossaudioandcomic-1252317822.image.myqcloud.com/activity/document/1a281c92c5f53ca7823ad5ed398e8da2.jpg');
    background-size: 100% 100%;
}
.item:nth-child(4){
    background:url('https://bossaudioandcomic-1252317822.image.myqcloud.com/activity/document/013a00ea9cf5c5fa4afa2cb73a92b88f.jpg');
    background-size: 100% 100%;
}
.item:nth-child(5){
    background:url('https://bossaudioandcomic-1252317822.image.myqcloud.com/activity/document/d37e23b871cd201903694bdf47ef9870.jpg');
    background-size: 100% 100%;
}
.btn{
    width: 50px;
    height: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    background-color: transparent;
    border: 0px;
    outline: 0px;
}
.btn .icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
}
#goPre .icon{
    left: 3px;
}
#goNext .icon{
    right: 3px;
}
#goPre{
    left: 0px;
}
#goNext{
    right: 0px;
}
.item.active{
    z-index: 10;
    opacity: 1;
}
.pointList{
    list-style: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom:10px;
    z-index: 100;
}
.point{
    width: 5px;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    cursor: pointer;
}
.point.active{
    background-color: rgba(255, 255, 255, 0.4);
}
/* 搜索栏 */
.search{
    display: flex;
    position: relative;
    margin: 7px 14px;
}

.search input{
    flex: 12;
    flex-direction: row;
    height: 40px;
    border: 1px solid #777;
    border-radius: 10px 0px 0px 10px;
}
.search input::placeholder{
    text-align: center;
}
.search svg{
    position: absolute;
    left: 10px;
    top: 10px;   
}
.search a{
    background-color: #fff;
    color: #444;
    font-size: 20px;
    flex: 2;
    line-height: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    border:1px solid #777;
    border-radius: 0 10px 10px 0;
}
.search a:active{
    color: #000;
    background-color: #999;
}

/* 导航栏 */
.nav{
    display: flex;
    width: 100%;
    height: 95px;
    margin: 7px 0;
    background: #fff;
}
.nav .guide-nav-a {
    flex: 1;
    margin: auto 10px;
    height: 67px;
    text-align: center;
}

.nav .guide-nav-a .nav-pic svg{
    width: 38px;
    height: 38px;
}
/* 导航栏隐藏 */
.nav-hide{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #000;
    opacity: .5;
    display: none;
}
/* 导航栏呼出 */
.nav-show{
    overflow-y: scroll;
    padding: 2.5%;
    position: fixed;
    top: 0;
    right: -80%;
    z-index: 1000;
    height: 100%;
    max-height: 800px;
    width: 75%;
    max-width: 600px;
    background-color: #fff;
}

.nav-show-findjob{
    text-align: center;
}
.nav-show-cv h2{
    text-align: center;
}

/* 左右滚动导航栏 */
.rollNavTop{
    padding: 5px;
    margin-top: 15px;
    background-color: #fff;
    border-left: solid 3px crimson;
    padding-left: 7px;
    flex-wrap: wrap;
    display: flex;
}
.rollNavTop .top1{
    flex: 4;
}
.rollNavTop .top2{
    flex: 1;
    color: darkgray;
}
.rollNav{
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
    height: 130px;
    float: left;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    padding-left: .5rem;
    margin-bottom: .8rem;
    }
.navItem{
    display: inline-block;
    width: 66px;
    height: 108px;
    padding: .75rem .5rem .5rem;
}
.navItem img{
    width: 66px;
    height: 88px;
}
.navItem span{
    text-align: center;
    display: block;
}
/* content */

.content{
    background-color: #fff;
}
.hotbook-title{
    padding: 5px;
    background-color: #fff;
    border-left: solid 3px crimson;
    padding-left: 7px;
    flex-wrap: wrap;
    display: flex;
}
.hb1{
    flex: 4;
}
.hb2{
    flex: 1;
    color: darkgray;
}

.book{
    display: flex;
    justify-content: center;
    width: 93%;
    padding: 10px;
    border-bottom: solid 1px #A9A9A9;
}


.book-img{
    flex: 1;
    overflow: hidden; 
}
.book img{
    width: 100%;
    min-height: 92px;
    cursor: pointer;  
    transition: all 0.6s;
}
div img:hover{transform: scale(1.2);}

.book-text{
    flex: 4;
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}
.book-title{
    flex: 1;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    font-family: "楷体";
}
.book-content{
    flex: 2;
    width: 100%;
    color: #A9A9A9;
    font-size: 14px;
}
.book-sign{
    position: relative;
    flex: 1;
    display: flex;
    width: 100%;
    font-size: 14px;
}
.book-writer{
    color: #A9A9A9;
}
.book-note{
    position: absolute;
    right: 5%;
    display: flex;
}
.bn1 span{
    border: solid 1px #A9A9A9;
    color: #A9A9A9;
}
.bn2 span{
    border: solid 1px #FF0000;
    color: red;
    margin-left: 0.5em;
}
.bn3 span{
    border: solid 1px deepskyblue;
    color: #00BFFF;
    margin-left: 0.5em;
}

/* footer */
.footer{
    color: #999;
    text-align: center;
    margin: 20px;
}
.footer div{
    margin: 20px 0;
}
